html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #0a0c1b;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}

.attribution a {
  color: #3e52a3;
}

.overlay {
  max-height: 480px;
  min-height: 239px;
  overflow: hidden;
}

h1 {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 29px;
  padding: 0px 13px;
}

.card {
  max-width: 654px;
  min-width: 325px;
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section p {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 14px;
  width: 240px;
  line-height: 25px;
}

.imgMobile {
  width: 100%;
  height: 100%;
  max-width: 654px;
  max-height: 480px;
  min-width: 325px;
  min-height: 239px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px 10px 0px 0px;
  -webkit-filter: grayscale(1) brightness(1.2) contrast(0.6);
          filter: grayscale(1) brightness(1.2) contrast(0.6);
}

.imgDesktop {
  visibility: hidden;
}

.dataFlex {
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.overlay::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 300px;
  background: #aa5bdb;
  mix-blend-mode: multiply;
  top: 0px;
  max-height: 480px;
  min-height: 239px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c1938;
  border-radius: 0px 0px 10px 10px;
}

section .dataFlex {
  line-height: 10px;
}

.dataColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dataColumn h2 {
  margin-bottom: 0px;
}

.dataColumn p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

span {
  color: #aa5bdb;
}

.attribution {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

@media (min-width: 1110px) {
  body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    max-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: initial;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
    min-width: 546px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
  }
  .imgMobile {
    visibility: hidden;
    position: fixed;
  }
  .imgDesktop {
    visibility: visible;
    width: 100%;
    height: 100%;
    min-width: 540px;
    min-height: 446px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  h1 {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 38px;
    width: 444px;
  }
  section p {
    width: 357px;
    padding-bottom: 25px;
  }
  .overlay {
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    min-width: 540px;
    min-height: 446px;
  }
  .overlay::after {
    //width: 50%;
    height: 100%;
    top: 0px;
    max-height: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 540px;
  }
  .dataFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .dataColumn p {
    width: 140px;
  }
}
/*# sourceMappingURL=style.css.map */
